<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
        <!-- Homework Listing Section -->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">What can I do...</h2>
                            <p>You'll have the freedom to add your homework to keep track of your busy schedule. With this tracker, it gives you the ability to add, edit, and delete you listings as you see fit!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include partials/footer.ejs%>